{% extends 'mysite/base.html' %} {% load static %} {% block content %}

<div class="banner-container padding Official">
    <div class="slide officialRelease">
     <h1 class="text">Official Release</h1>
    </div>
  </div>


  <div class="official-release-container">


    <a href="{% url 'latestRelease' %}"  class="song-release element">
       <img src="{% static 'mysite/img/latestRelease.jpg' %}" alt="Slide 1" />
       <div class="song-tittle">
        <h4>Yes cocoa ft Kuami Eugene</h4>
        <P>Kuame Eugene</P>
       </div>

     </a>
        <a href="{% url 'latestRelease' %}"  class="song-release element">

       <img src="{% static 'mysite/img/latestRelease2.jpg' %}" alt="Slide 1" />
       <div class="song-tittle">
        <h4>Yes cocoa ft Kuami Eugene</h4>
        <P>Kuame Eugene</P>
       </div>

     </a>
        <a href="{% url 'latestRelease' %}"  class="song-release element">

       <img src="{% static 'mysite/img/latestRelease3.jpg' %}" alt="Slide 1" />
       <div class="song-tittle">
        <h4>Yes cocoa ft Kuami Eugene</h4>
        <P>Kuame Eugene</P>
       </div>

     </a>
        <a href="{% url 'latestRelease' %}"  class="song-release element">

       <img src="{% static 'mysite/img/latestRelease4.jpg' %}" alt="Slide 1" />
       <div class="song-tittle">
        <h4>Yes cocoa ft Kuami Eugene</h4>
        <P>Kuame Eugene</P>
       </div>

     </a>
        <a href="{% url 'latestRelease' %}"  class="song-release element">

       <img src="{% static 'mysite/img/latestRelease5.jpg' %}" alt="Slide 1" />
       <div class="song-tittle">
        <h4>Yes cocoa ft Kuami Eugene</h4>
        <P>Kuame Eugene</P>
       </div>

     </a>
        <a href="{% url 'latestRelease' %}"  class="song-release element">

       <img src="{% static 'mysite/img/latestRelease6.jpg' %}" alt="Slide 1" />
       <div class="song-tittle">
        <h4>Yes cocoa ft Kuami Eugene</h4>
        <P>Kuame Eugene</P>
       </div>

     </a>
        <a href="{% url 'latestRelease' %}"  class="song-release element">

       <img src="{% static 'mysite/img/latestRelease7.jpg' %}" alt="Slide 1" />
       <div class="song-tittle">
        <h4>Yes cocoa ft Kuami Eugene</h4>
        <P>Kuame Eugene</P>
       </div>

     </a>
   
  </div>



{% endblock %}
